<h1>Pirate:<%= "#{@pirate.name}, #{@pirate.weight}, #{@pirate.height}" %> </h1>


<h2>First Ship: <%= "#{@ship1.name}, #{@ship1.type}, #{@ship1.booty}" %> </h2>


<h2>Second Ship: <%= "#{@ship2.name}, #{@ship2.type}, #{@ship2.booty}" %> </h2>

